<h1>Chi tiết </h1>
<hr>
<table class="table table-bordered border-primary">
  <thead class="table-dark">
  <tr>
    <td class="tieude">Tiêu đề</td>
    <td class="tacgia">Tác Giả</td>
    <td class="mota">Mô tả</td>
  </tr>
  </thead>
  <tr >
    <td class="tieude">{{book.title}}</td>
    <td class="tacgia">{{book.author}}</td>
    <td class="mota">{{book.description}}</td>
  </tr>
</table>
<button type="submit" routerLink="/" class="btn btn-primary" style="position: relative; left: 638px">Quay lại</button>
