<h1>Form chỉnh sửa</h1>
<div class="container">
  <div class="row">
    <p *ngIf="alert">{{alert}}</p>
    <div class="col-12" style="margin-top: 20px">
      <form [formGroup]="formdata" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <span class="input-group-text" >Tiêu đề:</span>
          <input type="text" formControlName="title" [value]="book.title" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" >Tác giả:</span>
          <input type="text" formControlName="author" [value]="book.author" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-text">Mô tả</span>
          <textarea class="form-control" aria-label="With textarea" formControlName="description" [value]="book.description"></textarea>
        </div>
        <button type="submit" [disabled]="!formdata.valid" class="btn btn-outline-warning">Sửa</button>
      </form>
    </div>
  </div>
</div>

